<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Text Readability with BERT</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"/>
  </head>

  <!-- HTML Script -->
  <body>
    <!-- Div containing content of site  -->
    <div id="container">
      <!-- Div containing content of input form -->
      <div class="form-wrap">
        <!-- Form title -->
        <h1>Text Readability Scored</h1>
        <p>Computed by BERT on Azure</p>
        <!-- Form Input Field -->
        <form action="/" method="POST">
          <div class="form-group">
            <label for="text-input"> This web app allows you to evaluate the readability of a piece of text. </label>
            <!-- Flask will paste previously sent input as {{ text_input }} -->
            <textarea name="text_from_page" placeholder="Enter your text here..." cols="30" rows="5">{{ text_input }}</textarea>
          </div>
          <!-- Submit Button -->
          <button type="submit" class="btn">Send to BERT!</button>
          <!-- Flask will print out the result to the user -->
          <p>{{ msg }}</p>
          <p>{{ output }}<p>
        </form>
      </div>
      <!-- Footer text: -->
      <footer class='bottom-text'>
        <p>Created by Matt Bilton for the Microsoft Student Accelerator Programme 2021</p>
      </footer>
    </div>
  </body>
</html>
